
{block content}
<div class="container">
	<header>
		<h1 n:block=title>Produkty!</h1>
	</header>

	<main>
		<table class="table table-striped table-hover">
			<tr>
				<th>Název</th>
				<th>Cena</th>
			</tr>
			{foreach $products as $product}
				<tr>
					<td>{$product->getName()}</td>
					<td>{$product->getPrice()},- Kč</td>
				</tr>
			{/foreach}
		</table>
		<a n:href="addProduct!" class="btn btn-primary">Přidat náhodný produkt</a>
	</main>
</div>
