parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no

extensions:
    dbal: Nettrine\DBAL\DI\DbalExtension
    nettrine.cache: Nettrine\Cache\DI\CacheExtension
    nettrine.orm: Nettrine\ORM\DI\OrmExtension
    nettrine.annotations: Nettrine\Annotations\DI\AnnotationsExtension
    nettrine.orm.annotations: Nettrine\ORM\DI\OrmAnnotationsExtension
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
    nettrine.orm.console: Nettrine\ORM\DI\OrmConsoleExtension(%consoleMode%)
    nettrine.migrations: Nettrine\Migrations\DI\MigrationsExtension

nettrine.orm.annotations:
  mapping:
   App\Model\Entity: %appDir%/Model/Entity

nettrine.migrations:
  directory: %appDir%/Model/Migrations
